*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
.banner-img{
 height: 100vh;
}
.banner{
    position: relative;
    width: 100%;
}
.custom-navbar{
    position: absolute;
    padding: 20px 0;
    width: 100%;
    z-index: 99999;
}
.menu li a{
    width:12%;
    color: white;
    font-weight: 400;
}
.linked-in a{
    background-color: white;
    padding: 5px;
}
.social-icons li a{
  margin: 0px 10px;
  font-size: 20px;
}
.banner-content{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    color: white;
}
p{
    text-align: justify;
}

.primary-color{
    color:#2E814F;
}