*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
.banner-img{
 height: 100vh;
}
.banner{
    position: relative;
    width: 100%;
}
.custom-navbar{
    position: absolute;
    padding: 10px 0;
    width: 100%;
    z-index: 999;
}
.menu li a{
    margin: 0 20px;
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
   
}
.linked-in a{
    padding: 1px 4px;
    color: white;
    background-color: #0077B5;
    border-radius: 2px;
}
.twitter a{
    color:#1DA1F2;
}
.facebook a{
   color: #4867AA;
}
.social-icons li a{
  margin: 0px 15px;
  font-size: 16px;
}
.banner-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    color: white;
}
p{
    text-align: justify;
}

.primary-color{
    color:#21632d;
}
.font-fam{
    font-family: 'Roboto', sans-serif;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
.being-dreamcast,.we-do,.our-team{
    padding:40px 0;
}
.title{
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.title-tag{
    margin: 10px 0 40px;
    color: #626161;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.content p,.content-sec p{
    color:#313131;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;
}
.content-sec p{
    font-size: 14px;
    line-height:24px
}
.we-do .title{
    font-weight: 700;
}
.gallary img{
   height: 100%;
}
.content-title{
    font-size: 20px;
}
.custom-toggler-icon i{
    color: white;
}
.nav-link:hover{
    color: #0C7634!important;
}